* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1435;
  height: 100vh;
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 20px;
}

.logo-img {
  height: 60px;
}

form {
  background-color: #2b2438;
  width: 60%;
  height: 450px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome-to {
  font-family: Skia;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

#login-to {
  font-family: Skia;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%; 
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  font-family: Skia;
  width: 50%; 
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
}

#login-button {
  font-size: 18px;
  font-family: Skia;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 0px solid #1f1435;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

#login-button:hover {
  opacity: 0.8;
}
