html, body {
    background-color: #1F1435;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #2b2438;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
}
  
#logintext {
  text-align: center;
}

#login-img {
  height: 60px;
  width: 60px;
  padding: 0px 0 16px 0;
}

#wb {
  font-family: Skia;
  color: grey;
  font-size: 15px;
  text-align: center;
}

#logo-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

#img1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
}

#logotext {
    font-family: Skia;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 100px;
    margin-top: 40px;
}

#logotext2 {
    font-family: Skia;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
    margin-top: 45px;
}

  input[type=text], input[type=password] {
    font-family: Skia;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #button1 {
    font-size: 18px;
    font-family: Skia;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-bottom: 0;
    border: 0px solid #1F1435;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    
  }
  
  #button1:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 16px;
  }

#logout-button{
  background-color: #1F1435;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 1.3%;
  right: 0.3%;
}

#logout-img {
  height: 50px;
  width: 50px;
}


#button2:hover, #logout-button:hover {
  opacity: 0.8;
}



#error-message {
  color: white;
  font-weight: bold;
  font-family: Skia;
  font-size: 30px;
}

#user-info {
  color: rgb(0, 0, 0);
  display: inline-block;
  position: absolute; 
    top: 28.5%;       
    right: 83%; 
}

#username {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-size: 16px;
  padding: 10px 20px;
  margin: 8px 8px 0px 0px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#user-details {
  font-size: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  display: none;
  position: absolute;
  right: 0; 
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 300px;
}

#user-details div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#user-details div:last-child {
  margin-bottom: 0;
}

#username:hover {
  opacity: 0.5;
  text-decoration-line: underline;
    text-decoration-color: grey; 
    text-decoration-thickness: 1.2px;
}

#username:hover + #user-details,
#user-details:hover {
  opacity: 0.8;
  display: block;
}

#name {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 100px;
  left: 100px;
}

#level-container {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  background-color: #f0f0f0; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  line-height: 1.2; 
  box-shadow: 0px 8px 5px rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 17%;
  right: 9%;
}


#leveltxt {
  font-size: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  margin: 0; 
}

#level {
  font-size: 25px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  margin: 0; 
}

#skills {
  color: white;
  font-size: 20px;
}

#spiderweb-chart {
  width: 500px; /* Adjust the width as needed */
  max-width: 600px; /* Set a max-width if needed */
  height: 420px; /* Adjust the height as needed */
  margin: auto; /* Center the container horizontally */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#spiderweb-chart svg {
  width: 100%; /* Make SVG fill the container width */
  height: 100%; /* Make SVG fill the container height */
  background-color: #f9f9f9; /* Background color of the SVG */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Shadow behind the SVG */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding inside the SVG container */
  display: block; /* Ensure SVG is a block element */
}

